@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, h5, h6, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, h5, h6,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4, h5, h6 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: #010409;
  color: #F0F6FC;
  font-family: "Space Grotesk", serif;
}

.container {
  max-width: calc(100% - 30px);
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 962px;
  }
}
@media (min-width: 1692px) {
  .container {
    width: 1260px;
  }
}

h1 {
  margin-top: 30px;
}

.image-controls input, .image-controls select, .image-controls .dimensions span, .image-controls .arrow-button span {
  background-color: #262C36;
  border: 1px rgba(240, 246, 252, 0.2) solid;
  padding: 5px 15px;
  border-radius: 4px;
  transition: border 0.2s;
}
.image-controls input:focus, .image-controls select:focus, .image-controls .dimensions span:focus, .image-controls .arrow-button span:focus {
  border: 1px solid #4493E9;
  outline: none;
}

.image-controls .dimensions, .image-controls .arrow-button, .image-controls .main-button, .image-controls .add-email, .image-controls .selector {
  margin-bottom: 20px;
  height: 48px;
  width: 100%;
}

button {
  background-color: #262C36;
  border: 1px rgba(240, 246, 252, 0.2) solid;
  border-radius: 4px;
  padding: 10px 20px;
  transition: border 0.2s, background-color 0.2s;
}
button:hover {
  border: 1px #4493E9 solid;
  background-color: rgb(16.9347826087, 19.6086956522, 24.0652173913);
  cursor: pointer;
}

.image-preview {
  margin-top: 60px;
}
.image-preview .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 15px;
  background-color: #0D1117;
}
.image-preview .image-container img {
  border-radius: 5px;
  top: 0;
  max-height: 700px;
}

.loading-blur {
  filter: blur(3px);
}

/* HTML: <div class="loader"></div> */
.loader.active {
  position: absolute;
  z-index: 500;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #4493E9 rgba(0, 0, 0, 0);
  animation: l1 1s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
.image-controls {
  background-color: #0D1117;
  font-size: 1.25rem;
  padding: 20px;
  margin-top: 60px;
  border-radius: 5px;
}
.image-controls .dimensions {
  display: flex;
}
.image-controls .dimensions input {
  height: 100%;
  text-align: center;
  width: 70px;
  flex-grow: 1;
  min-width: 0px;
}
.image-controls .dimensions input::-webkit-outer-spin-button, .image-controls .dimensions input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.image-controls .dimensions input:nth-child(2) {
  border-radius: 0px;
  border-inline: 0px;
}
.image-controls .dimensions input:nth-child(4) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}
.image-controls .dimensions span {
  display: inline-flex;
  align-items: center;
  height: 100%;
  min-width: 0px;
}
.image-controls .dimensions span:nth-child(1) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0px;
}
.image-controls .dimensions span:nth-child(3) {
  border-radius: 0px;
  border-inline: 0px;
}
.image-controls .arrow-button {
  display: flex;
}
.image-controls .arrow-button > * {
  height: 100%;
}
.image-controls .arrow-button > *:nth-child(1) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0px;
}
.image-controls .arrow-button > *:nth-child(3) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}
.image-controls .arrow-button span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-inline: 0px;
  border-radius: 0px;
}
.image-controls .main-button button {
  width: 100%;
  height: 100%;
}
.image-controls .add-email {
  display: flex;
}
.image-controls .add-email input {
  flex-grow: 1;
  min-width: 0px;
  height: 100%;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: none;
}
.image-controls .add-email button {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  height: 100%;
}
.image-controls .selector {
  margin: 0px;
}
.image-controls .selector select {
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .image-controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  .image-controls .main-button {
    margin: 0px;
  }
}
@media (min-width: 1692px) {
  .image-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  .image-controls .add-email {
    margin: 0px;
  }
}

.popup {
  padding: 20px;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}

.container.image-array {
  background-color: #0D1117;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  column-count: 1;
  column-gap: 10px;
  padding: 10px;
  min-height: 900px;
}
.container.image-array img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 4px;
  max-height: 255px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .container.image-array {
    column-count: 2;
  }
}
@media (min-width: 1260px) {
  .container.image-array {
    column-count: 3;
  }
}
@media (min-width: 1692px) {
  .container.image-array {
    column-count: 4;
  }
}

.image-array-header {
  margin-block: 60px;
}

/*# sourceMappingURL=style.css.map */
