@use "sass:map";

// Base Colours

$theme-color-dark: #010409;
$theme-color-dark-1: #0D1117;
$theme-color-dark-2: #262C36;
$theme-light: #F0F6FC;
$theme-trim: #4493E9;

$theme-border: rgba($theme-light, 0.2);

$breakpoints: (
    "small": 768px,
    "medium": 992px,
    "large": 1260px,
    "x-large": 1692px,
);

@mixin breakpoint($size) {
    @if map.has-key($breakpoints, $size) {
        $breakpoint-value: map.get($breakpoints, $size);
        @media (min-width: $breakpoint-value) {
        @content;
        }
    } @else {
        @error "No value found for breakpoint '#{$size}'.";
    }
}