@use "../utilities/" as *;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    background-color: $theme-color-dark;
    color: $theme-light;
    font-family: "Space Grotesk", serif;
}

.container {
    max-width: calc(100% - 30px);
    margin-inline: auto;

    @include breakpoint("small") {
        width: 738px;
    }

    @include breakpoint("large") {
        width: 962px;
    }

    @include breakpoint("x-large") {
        width: 1260px;
    }
}

h1 {
    margin-top: 30px;
}