@use "../utilities/" as *;
@use "../modules/" as *;

.image-preview {
    margin-block: 60px;

    .image-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-inline: 15px;
        background-color: $theme-color-dark-1;
        
        
        img {
            border-radius: 5px;
            top: 0;
            max-height: 700px;
        }
    }
}