@use "../utilities/" as *;
@use "../modules/" as *;

.container.image-preview {
    @extend %content-background;
    margin-block: 60px;

    .image {
        &-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 30px;
            
            
            img {
                border-radius: 5px;
                top: 0;
            }
        }

        &-controls {
            @extend %content-background;
            background-color: cadetblue;
            display: flex;
            flex-direction: column;
            align-items: center;

            .email {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}