@use "../utilities/" as *;

%input-field {
    background-color: $theme-color-dark-2;
    border: 1px $theme-border solid;
    padding: 5px 15px;
    border-radius: 4px;
    transition: border 0.2s;

    &:focus {
        border: 1px solid $theme-trim;
        outline: none;
    }
}

%button-values {
    margin-bottom: 20px;
    height: 48px;
    width: 100%;
}